{% extends "layout.html" %}
{% block content %}

    <div class="my-3 mx-5 col-12 col-lg-5">
        <h1 style="font-size:5rem;">Simple Manager</h1>
        <h2>
            Простой и удобный менеджер задач
        </h2>
        <h5>
            Интуитивно понятный интерфейси функционал обеспечивают
            удобное планирование и отслеживание задач в одном месте.
        </h5>
        <br>
        {% if current_user.is_authenticated %}
        <a class="buttonBase" href="{{ url_for('task')}}">Поставить задачи</a>
        <a class="buttonBase" href="{{ url_for('logout')}}">Выйти</a>
        {% else %}
        <a class="buttonBase" href="{{ url_for('register')}}">Создать аккаунт</a>
        <a class="buttonBase" href="{{ url_for('login')}}">Войти</a>
        {% endif %}
        {% if current_user.role == 1 %}
            <p class="text-success my-3">Вы администратор</p>
        {% endif %}
    </div>
    <div class="col-8 col-lg-4 my-3">
        <img class="mx-5 col-12" src="{{ url_for('static', filename='task.gif') }}">
    </div>



{% endblock content %}

